body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}
.number{
    text-align: right;
}
.date{
     text-align: right;
}
.form-group.required label:after {
  content:"*";
  color:red;
}
.deleteIcon{
    position: absolute;
    top: -10px;
    right: -10px;
}
.deleteIcon .fa{
  color: red;
}

.thumbnail > img, .thumbnail a > img{
}
.left-buffer{
  margin-left: 5%;
}
.grabber{
  position: absolute;
  top:-10px;
  margin-left: 25%;
}
.grabber div{
  height: 5px;
  width: 50px;
  border: 1px dashed #999;
  cursor: move;
}
.img-star{
  color: #CCC;
  position:absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.img-star a{
  margin-right: 10px;
  color: #DDD;
}

.img-star .fa-star{
  color: gold;
}

input.parsley-success,
select.parsley-success,
 textarea.parsley-success {
color: #468847;
 background-color: #DFF0D8;
 border: 1px solid #D6E9C6;
 }

 input.parsley-error,
 select.parsley-error,
 textarea.parsley-error {
 color: #B94A48;
 background-color: #F2DEDE;
 border: 1px solid #EED3D7;
 }

 .parsley-errors-list {
 margin: 2px 0 3px;
 padding: 0;
 list-style-type: none;
 font-size: 0.9em;
 line-height: 0.9em;
 opacity: 0;

 transition: all .3s ease-in;
 -o-transition: all .3s ease-in;
 -moz-transition: all .3s ease-in;
 -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
 opacity: 1;
 }

.sold{
    font-size: 18px;
    color: #FFF;
    background: #a94442;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #000;
}
