body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}
.number{
    text-align: right;
}
.date{
     text-align: right;
}
.form-group.required label:after {
  content:"*";
  color:red;
}
.deleteIcon{
    position: absolute;
    top: -10px;
    right: -10px;
}
.deleteIcon .fa{
  color: red;
}

.thumbnail > img, .thumbnail a > img{
}
.left-buffer{
  margin-left: 5%;
}
.grabber{
  position: absolute;
  top:-10px;
  margin-left: 25%;
}
.grabber div{
  height: 5px;
  width: 50px;
  border: 1px dashed #999;
  cursor: move;
}
.img-star{
  color: #CCC;
  position:absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.img-star a{
  margin-right: 10px;
  color: #DDD;
}

.img-star .fa-star{
  color: gold;
}

input.parsley-success,
select.parsley-success,
 textarea.parsley-success {
color: #468847;
 background-color: #DFF0D8;
 border: 1px solid #D6E9C6;
 }

 input.parsley-error,
 select.parsley-error,
 textarea.parsley-error {
 color: #B94A48;
 background-color: #F2DEDE;
 border: 1px solid #EED3D7;
 }

 .parsley-errors-list {
 margin: 2px 0 3px;
 padding: 0;
 list-style-type: none;
 font-size: 0.9em;
 line-height: 0.9em;
 opacity: 0;

 transition: all .3s ease-in;
 -o-transition: all .3s ease-in;
 -moz-transition: all .3s ease-in;
 -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
 opacity: 1;
 }


.danger{
  background-color: #f2dede;
}

.success{
    background-color: #dff0d8;
}

.font-big{
  font-size: 18px;
  padding: 10px;
}

.font-small{
  font-size: 12px;
  padding: 5px;
}

.status-label{
  border-radius: 4px;
  box-shadow: 3px 2px 2px #CCC;
}

.available{
  }

.form-group.quantity{

}

.radioButtons {
     list-style-type:none;
     margin-top: 5px;
     padding:0;
}

.radioButtons li {
     float:left;
     margin:0 5px 0 0;
      width:200px;
      height:40px;
      position:relative;
}

.radioButtons label, .radioButtons input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.radioButtons input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.radioButtons label.selected,
.radioButtons label.selected:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.radioButtons label.selected:hover{
  cursor: auto;
}

.radioButtons label{
     padding:5px;
     border:1px solid #CCC;
     border-radius: 4px;
     font-weight: normal;
     cursor:pointer;
     text-align: center;
     z-index:90;
}

.radioButtons label:hover {
     background:#DDD;
}

.hidden{
  display:none;
}

.text-note{
  font-size: 11px;
  color: #DDD;
}


.chart-legend ul {
    list-style: none;
    background: none;
    color: #333;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
}

.chart-legend li {
    display: block;
}

.chart-legend  li span{
    color: red !important;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    list-style-type: none !important;
    border-radius: 10px;
}
